<header class="header-wrap">
    <div class="header-wrap__background"></div>
    <div class="header">
        <div class="header__content">
            <div class="header__content-avatar">
                <img src="images/header/avatar.jpg" alt="" class="header__content-avatar-img">
            </div>
            <div class="header__content-title">
                <h1 class="header__content-name">Nikita Kalachev</h1>
                <h2 class="header__content-speciality">Frontend Developer</h2>
            </div>
        </div>
        <div class="header__contacts">
            <map class="header__contacts-location header__contacts-item">
                <svg class="contacts-location__icon header__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-location' /></svg>
                <p class="contacts-location__text ymaps-geolink" data-bounds="[[54.314214, 48.402297], [54.314483, 48.402568]]" data-description="Suppose I live nearby from here"  data-type="biz">Ulyanovsk, Russia</p>
            </map>
            <div class="header__contacts-mail header__contacts-item">
                <svg class="contacts-mail__icon header__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-www' /></svg>
                <address class="contacts-mail__text"><a target="_top" href="mailto:nikitakalachev@gmail.?Subject=Hello"></a>nikitakalachev18@gmail.com</a></address>
            </div>
            <div class="header__contacts-phone header__contacts-item">
                <svg class="contacts-phone__icon header__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-phone' /></svg>
                <p class="contacts-phone__text"><a href="tel: +79969532147">+7 996 953 21 47</a></p>
            </div>
        </div>
    </div>
</header>