<section class="left-side">
    <div class="left-wrap">

        <div class="left__profile">
            <div class="left__profile-title">
                <h2 class="form-title">Work Experience</h2>
            </div>
            <div class="left__profile-content">
                <p class="left__profile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>

        <div class="left__interests">
            <div class="left__interests-title">
                    <h2 class="form-title">Interests</h2>
            </div>
            <div class="left__interests-content">
                <div class="left__interests-music">
                    <img class="music-icon" src="images/left-side/music.png" alt="">
                    <p class="music-text">Music</p>
                </div>
                <div class="left__interests-gaming">
                    <img class="gaming-icon" src="images/left-side/gaming.png" alt="">
                    <p class="gaming-text">Gaming</p>
                </div>
                <div class="left__interests-biking">
                    <img class="biking-icon" src="images/left-side/biking.png" alt="">
                    <p class="biking-text">Biking</p>
                </div>
            </div>
        </div>

        <div class="left__reference">
            <div class="left__reference-title">
                <h2 class="form-title">Reference</h2>
            </div>
            <div class="left__reference-content">
                <div class="reference-item">
                    <div class="form-circle">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__company ">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
                <div class="reference-item">
                    <div class="form-shape__circle">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__object">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="left__awards">
            <div class="left__awards-title">
                <h2 class="form-title">Awards</h2>
            </div>
            <div class="left__awards-content">
                <p class="left__awards-item">Illustation award 2009</p>
                <p class="left__awards-item">Web Design award 2012</p>
                <p class="left__awards-item">Elite award 20019</p>
            </div>
        </div>

    </div>
</section>