<article class="left-side">
    <div class="left-wrap">

        <section class="left__profile form-item__box">
            <div class="left__profile-title">
                <h2 class="form-text__title">Profile Info</h2>
            </div>
            <div class="left__profile-content">
                <p class="left__profile-text form-text__content">Creative Front-end Developer with 1+ year of experience designing, developing, and managing e-commerce sites, and solutions that drive business growth and improve UX.</p>
            </div>
        </section>

        <section class="left__interests form-item__box">
            <div class="left__interests-title">
                <h2 class="form-text__title">Interests</h2>
            </div>
            <div class="left__interests-content">
                <div class="left__interests-item">
                    <svg class="interests-music__icon interests__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-music' /><circle id="sprite-circle" /></svg>
                    <p class="interests-content__text">Music</p>
                </div>
                <div class="left__interests-item">
                    <svg class="interests-sport__icon interests__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-sport' /><circle id="sprite-circle" /></svg>
                    <p class="interests-content__text">Sport</p>
                </div>
                <div class="left__interests-item">
                    <svg class="interests-hightech__icon interests__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-hightech' /><circle id="sprite-circle" /></svg>
                    <p class="interests-content__text">HighTech</p>
                </div>
                <div class="left__interests-item">
                    <svg class="interests-travel__icon interests__contacts-icon"><use xlink:href='images/form-sprite.svg#sprite-travel' /><circle id="sprite-circle" /></svg>
                    <p class="interests-content__text">Travel</p>
                </div>
            </div>
        </section>

        <section class="left__reference form-item__box">
            <div class="left__reference-title">
                <h2 class="form-text__title">Reference</h2>
            </div>
            <div class="left__reference-content">
                <div class="reference-item">
                    <div class="form-shape__circle" id="circle1">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__name">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
                <div class="reference-item">
                    <div class="form-shape__circle" id="circle2">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__name">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="left__awards form-item__box">
            <div class="left__awards-title">
                <h2 class="form-text__title">Cources</h2>
            </div>
            <div class="left__awards-content">
                <p class="left__awards-item"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/S7KMMKUGXK48" target="blank">"Web Design for Everybody"<a></p>
            </div>
        </section>

    </div>
</article>