@import "partials/variables.scss";

$color-form-circle: $color-light-gray;

h1, h2, p {
    margin: 0;
}

.header-wrap {  grid-area: header; }
.left-side { grid-area: left }
.right-side { grid-area: right }

.form {
    display: grid;
    grid-template-columns: auto-fit(minmax(auto, 324px)) auto-fit(minmax(auto, 636px));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "header header"
        "left right";
    column-gap: 20px;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

.form-item__box {
    margin: 30px 0;
}

.form-text__title {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    font-family: Montserrat;
    font-size: 24px;
}

.form-text__content {
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 27px;
}

.form-shape__circle {
    align-self: center;
    width: 14px;
    height: 14px;
    border: 2px solid $color-form-circle;
    border-radius: 50%;
}

.form-shape__circle:after {
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #404545;
    width: 0;
    height: 48%;
    top: 26%;
    left: 8px;
  }

.left__reference-content {
    position: relative;
}

.reference-item:last-child .form-shape__circle:after,
.work-item:last-child .form-shape__circle:after,
.education-item:last-child .form-shape__circle:after {
    content: none;
}

@media (max-width: 770px) {
    .form {
        grid-template-columns: minmax(auto, 778px);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "header"
            "left"
            "right";
    }
}