@import "partials/variables.scss";

$header-background-color: $color-dark-blue;
$header-font-color: $color-white;
$header-font-hover-color: $color-red;

.header-wrap {
    width: 100%;
    height: auto;
    background-color: $header-background-color;
    background-image:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)),
    url(../images/header/background.jpg);
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 48px 74px 34px 74px;
    color: $header-font-color;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 10px 10px 0;
        min-height: 132px;
    }

    &__content-avatar {
        width: 132px;
        height: 132px;
        margin-right: 27px;
    }

    &__content-avatar-img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    &__content-name {
        font-family: Montserrat;
        font-size: 37px;
        font-weight: 700;
        letter-spacing: 4px;
    }

    &__content-title {
        margin: 10px 0;
    }

    &__content-speciality {
        font-family: "Open Sans";
        font-size: 21px;
        font-weight: 600; 
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 146px;
        margin: 10px 0;
        font-family: "Open Sans";
        font-size: 17px;
    }

    &__contacts-icon {
        margin-right: 15px; 
    }

    &__contacts-location {
        display: inline-flex;
        align-items: center;

        .ymaps-2-1-71-geolink-processed:before {
            content: none;
        }

        .ymaps-2-1-71-geolink-processed {
            margin-left: 0;
        }

        .ymaps-2-1-71-ymaps-geolink-light:hover {
            color: $header-font-hover-color;
        }
    }

    &__contacts-mail {
        display: flex;
        align-items: center;
    }

    &__contacts-phone {
        display: flex;
        align-items: center;
    }
}

.contacts-phone__text a {
    color: $header-font-color;
    border-bottom: 1px dashed $header-font-color;
    text-decoration: unset;
}

.contacts-phone__text a:hover {
    color: $header-font-hover-color;
    border-bottom: none;
}

.contacts-mail__text {
    font-style: normal;
}

.contacts-location__icon {
    width: 10px;
    height: 15px;
}

.contacts-mail__icon {
    width: 13px;
    height: 13px;
}

.contacts-phone__icon {
    width: 10px;
    height: 13px;
}

@media (max-width: 940px) {
    .header {
        padding: 30px 15px;
    }

    .header__contacts-item {
        padding: 10px 0;
    }
}

@media (max-width: 450px) {
    .header {
        padding: 10px 10px;
    }

    .header__content {
        margin: 10px 0 0 0;
    }
}

